@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 61, 67, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    flex-shrink: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.message{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
}

.delete, .cancel{
    width:20vw;
    height:5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    border:0.1rem solid #17a2b8;
    box-shadow: 0 0.2rem 0.7rem 0 rgba(130, 105, 140, 0.2);
    background-color: #17a2b8;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #fff;
    margin-top: 1rem;
}

.cancel{
    background-color: #fff;
    border:0.1rem solid #cf3636;
    color:#cf3636
}
